<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Input</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <section id="input-area">
        <h3>Enter new word Here</h3>
        <input type="text" id="word-input" placeholder="Enter word...">
        <button onclick="saveWord()">Update Word Bank</button>
    </section>

    <hr>

<!--    <section id="profile-display">
        <p><strong>Name:</strong> <span id="display-name">Guest</span></p>
        <p><strong>Achievements:</strong> None yet</p>
        <p><strong>Average Amount of Time Per Word/Phrase:</strong> 0s</p>
    </section>
-->
</body>
</html>